{% extends "layout.html" %}

{% load static %}
{% block body %}

<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
      	<h2>MEET OUR TEAM</h2>
        <p>We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.</p>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <ul class="clear">
          <li class="one_quarter first">
            <figure><img src="{% static 'images/demo/team-member.gif' %}"  alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
               
              </figcaption>
            </figure>
           
          </li>
          <li class="one_quarter">
            <figure><img  src="{% static 'images/demo/team-member.gif' %}" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
               
              </figcaption>
            </figure>
           
          </li>
          <li class="one_quarter">
            <figure><img  src="{% static 'images/demo/team-member.gif' %}"  alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
               
              </figcaption>
            </figure>
           
          </li>
          <li class="one_quarter">
            <figure><img  src="{% static 'images/demo/team-member.gif' %}"  alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
               
              </figcaption>
            </figure>
         
          </li>
          <li class="one_quarter first">
            <figure><img  src="{% static 'images/demo/team-member.gif' %}"  alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
               
              </figcaption>
            </figure>
          
          </li>
          <li class="one_quarter">
            <figure><img src="{% static 'images/demo/team-member.gif' %}" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
              
              </figcaption>
            </figure>
          
          </li>
          <li class="one_half">
            <div id="skillset">
              <h2>Vivamuslibero Auguer</h2>
             
             <p class="team_title">Job Title Here</p>
            </div>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock body %}
